@model IEnumerable<Assignment.Models.Movie>


<head>
    <title>Trang web phim đơn giản</title>
    <style>
        nav {
            background-color: white;
            overflow: hidden;
            border-bottom: solid 1px;
        }

            nav ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                float: left;
            }

            nav li {
                float: left;
            }

            nav a {
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                nav a:hover {
                    background-color: #ddd;
                    color: black;
                }

            nav ul:last-child {
                float: right;
            }

            nav form {
                margin-top: 15px;
                margin-left: 100px;
                margin-bottom: 0;
                position: relative;
            }

            nav input[type="text"] {
                border: 1px solid black;
                padding: 6px 30px 6px 10px;
                width: 600px;
                font-size: 16px;
                margin-top: -8px;
                margin-left: 52px;
            }

            nav button[type="submit"] {
                background-color: #4CAF50;
                color: white;
                border: none;
                padding: 6px 10px;
                font-size: 16px;
                position: absolute;
                top: -6px;
                right: 0;
                cursor: pointer;
            }

                nav button[type="submit"]:hover {
                    background-color: #3e8e41;
                }



        main {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .left {
            margin-top: 8px;
            margin-left: 70px;
            width: 20%;
        }

            .left ul {
                list-style: none;
            }

                .left ul li a {
                    text-decoration: none;
                }


        .right {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            margin-right: 20px;
            margin-top: 20px;
        }

        .movie-item {
            position: relative;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0px 2px 8px 2px #888888;
        }

            .movie-item h3 {
                width: 100%;
                color: blue;
                text-align: center;
            }

            .movie-item #one {
                text-align: left;
                margin-bottom: 0;
            }

            .movie-item #two {
                text-align: left;
                margin-bottom: 24px;
            }

            .movie-item img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                display: block;
            }

            .movie-item button {
                position: absolute;
                background-color: rgb(39, 100, 255);
                color: white;
                left: 82px;
                bottom: 4px;
                font-size: 16px;
            }

                .movie-item button:hover {
                    background-color: rgb(2, 2, 195);
                }

    </style>
</head>
<body>

    <main>
        <div class="left">
            <h1>Thể loại</h1>
            <ul class="list-unstyled">
                <li>
                    <a href="/Home">Tất cả</a>
                </li>
                @foreach (Genre p in ViewBag.Genres)
                {
                    <li>
                        <a href="/Home?pid=@p.GenreId">@p.Description</a>
                    </li>
                }
            </ul>
        </div>

        <div class="right">
            @if (Model.Count() != 0)
            {
                @foreach (Movie m in Model)
                {
                    @if (m.Status == 1)
                    {
                        <a asp-action="Detail" asp-route-id="@m.MovieId" class="text-decoration-none" style="color: black">
                            <div class="movie-item">
                                <div>
                                    <img src="~/Image/@m.Image" alt="girl" />
                                    <h3>@m.Title</h3>
                                    <p id="one">Năm: @m.Year</p>
                                    <p id="two">Loại: @m.Genre.Description</p>
                                    <button type="submit">Đánh giá</button>
                                </div>
                            </div>
                        </a>
                    }
                    
                }

            }
            else
            {
                <h3 style="margin-left: 60%; width: 500px;">Không có kết quả phù hợp!</h3>
            }
        </div>
    </main>
</body>
